################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

*.cache
*.vsidx
*.wsuo
/WinFormsToolbar/bin/Debug
/WinFormsToolbar/obj/Debug
/.vs/WinFormsToolbar/v17
